.header {
    padding: 50px;
    border:25px;
    background-color: rgb(31, 30, 30);
}

h1 {
    text-align: center;
    color: grey
}

body {
          background-image: url('pudge-the-fish.jpg');
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }

 .box {
     float: left;
     padding: 25px;
     margin: 15px;
     background-color: rgb(255, 94, 0);
 }

 p {
     font-size: 25px;
 }  
 textarea {
     height: 45px;
     width: 175px;
     text-align: center;
 }

 button {
     height: 45px;
     width: 175px;
 }

 .box2 {
     float: right;
     margin: 400px, 25px;
     height: 400px;
     background-color: whitesmoke;
 }
     